.agency {
    background-color:#EEEEEE;
    margin:5px 0;
    padding:5px;
    border-width:1px;
    border-style:solid;
    border-color:#BBBBBB;
    border-radius:10px;
    text-align:center;
}

.stop {
    height:4.5em;
    margin:15px 0;
    padding:3px;
    border-width:1px;
    border-style:solid;
    border-color:#BBBBBB;
    border-radius:4px;
    text-align:center;
}

.stop h4{
    height:3em;
}

.stop p{
    text-align:right;
    color:#999999;
}

.arrival p{
    text-align:right;
    float:right;
    clear:right;
}

.arrival-alarm .arrival-time{
    color: #ff0000;
}

.route-info {
    float:left;
}

.route-id {
    border-radius:5px;
    border-color:#888888;
    display:inline-block;
    padding:0 20px;
    margin:1px;
}

.arrival-time {
    font-size:2em;
}

#waiting h1{
    font-size:5em;
}

#input-bar {
    float:right;
}
