.block {
    border-width:1px;
    border-style:solid;
    border-color:#BBBBBB;
    border-radius:10px;
    text-align:center;
}

.block a{
    display:block;
}

.agency {
    background-color:#EEEEEE;
    margin:10px;
    padding:10px;
}

.stop {
    height:50px;
    margin:5px;
    padding:5px;
}

.stop h6{
    height:35px;
}

.stop p{
    text-align:right;
    color: #999999;
}
