<hr>
<div class="row">
  <div class="span12">
    <div class="arrival">
      <div class="route-info">
        <h1 class="route-id" style="color:#{{route_text_color}};background-color:#{{route_color}};">
        {{#route_short_name}}{{route_short_name}}{{/route_short_name}}
        {{^route_short_name}}Rt{{/route_short_name}}
        </h1>
        <h2>{{route_long_name}}</h2>
      </div>
      <p>
        Pickup: {{from_arrival}}<br/>
        Arrival: {{to_arrival}}
      </p>
    </div>
  </div>
</div>
